<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="w-100 overflow-hidden">
    <nav class="navbar p-2 navbar-expand-lg shadow-sm board">
      <div class="ms-md-5">
        <button (click)="openSidebar()" class="btn btn-light open-btn me-2">
          <i class="bi bi-list"></i>
        </button>
        <input placeholder="Enter board title" id="add-board" class="form-input" [(ngModel)]="newBoardTitle"/>
        <button class="btn btn-light ms-2" (click)="addBoard()"><i class="bi bi-stickies"></i><span class="d-none d-sm-inline-block"> Create board</span></button>
      </div>
      <div class="ms-auto navbar">
        <div class="me-4 position-relative">
          <div *ngIf="countUnreadNotifications() > 0" class="position-absolute notif-count">{{countUnreadNotifications()}}</div>
          <div ngbDropdown ngbDropdownToggle class="btn btn-primary caret-off">
            <i class="bi bi-bell"></i>
            <app-notifications class="notifications dropdown-menu-end mt-2" [notifications]="currentNotifications" ngbDropdownMenu></app-notifications>
          </div>
        </div>
        <div class="divider d-md-inline-block d-none"></div>
        <div class="d-md-flex d-none">{{email}}</div>
        <div class="d-md-inline-block d-none profile-image ms-2">{{email.charAt(0).toUpperCase()}}</div>
      </div>
    </nav>
    <div class="board-main p-5 container">
      <div *ngIf="selectedBoard != undefined" cdkDropListGroup [cdkDropListOrientation]="isMobile ? 'vertical' : 'horizontal'" [cdkDropListData]="lists"
           class="row flex-row overflow-x-scroll cards" cdkDropList (cdkDropListDropped)="drop($event)">
        <app-task-list cdkDrag *ngFor="let taskList of lists" [taskList]="taskList"
                       class="col-sm-6 col-md-4 col-lg-3 col-xl-3"></app-task-list>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <div class="card border-left-blue rounded-4">
            <div class="card-body">
              <input placeholder="Enter list title" class="form-input w-100" (keydown.enter)="addTaskList()" [(ngModel)]="newTaskListTitle"/>
              <button class="btn btn-light mt-2" (click)="addTaskList()">Create list</button>
            </div>
          </div>
        </div>
      </div>
      <div class="mx-auto" *ngIf="selectedBoard == undefined">
        <svg-icon (click)="concentrateOnCreateBoard()" src="/assets/images/add_board.svg" svgClass="board-add"></svg-icon>
      </div>
    </div>
  </div>
</div>
