.border-left-primary {
  border-left: 4px solid;
}

.dropdown-toggle::after{
  content:initial
}

.list {
  border: solid 1px #ccc;
}

.box {
  padding: 0.75rem 0.3rem;
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  cursor: move;
  background: white;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


