<div class="bg-gradient-primary login bg-primary-subtle">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image">
                <img src="assets/login1.jpg" class="card-img mt-lg-5 ms-5 rounded-4">
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="title-text h3 text-gray-900 mb-4">Register your account</h1>
                  </div>
                  <form #formUser="ngForm" method="post" (ngSubmit)="register(formUser)" class="ms-3">
                      <input type="email" class="form-input form-control rounded-4 p-2 ps-4 mt-3 mb-3"
                             id="exampleInputEmail" aria-describedby="emailHelp"
                             placeholder="Enter Email Address" name="email" required [(ngModel)]="registrationInfo.email">
                      <input type="password" class="form-input form-control rounded-4 p-2 ps-4 mt-3"
                             id="exampleInputPassword" placeholder="Password" name="password" required [(ngModel)]="registrationInfo.password">
                      <input type="password" class="form-input form-control rounded-4 p-2 ps-4 mt-3"
                             id="exampleInputConfirmPassword" placeholder="Confirm Password" name="confirmPassword" required [(ngModel)]="registrationInfo.confirmPassword  ">
                    <button type="submit" class="log-btn btn w-100 rounded-4 btn-primary mt-3 mb-2">
                      <i class="bi bi-box-arrow-in-right"></i> Register
                    </button>
                    <hr>
                    <a (click)="googleLogin()" class="log-btn btn w-100 bg-danger text-white rounded-4 mb-3">
                      <i class="bi bi-google"></i> Login with Google
                    </a>
                  </form>
<!--                  TODO: Add forgot password-->
<!--                  <div class="text-center">-->
<!--                    <a class="small link" href="forgot-password.html">Forgot Password?</a>-->
<!--                  </div>-->
                  <div class="text-center">
                    <a class="small link" (click)="redirectToLogin()">Login</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
