<div class="tab-pane">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title ps-3">Password</h5>
            <div class="d-flex gap-5 p-3">
            <form [formGroup]="passwordForm" class="flex-grow-1" (ngSubmit)="updatePassword()">
                <mat-form-field class="w-100">
                    <mat-label>Old Password</mat-label>
                    <input type="password" matInput [formControl]="oldPasswordForm" [errorStateMatcher]="matcher"
                           placeholder="Ex. password">
                    <mat-error *ngIf="oldPasswordForm.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field class="w-100">
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput [formControl]="newPasswordForm" [errorStateMatcher]="matcher"
                           formControlName="password"
                           placeholder="Ex. password">
                    <mat-error *ngIf="newPasswordForm.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="newPasswordForm.hasError('minlength') || newPasswordForm.hasError('maxlength')">
                        Password size must be between <strong>5 to 20</strong>
                    </mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field class="w-100">
                    <mat-label>Confirmation Password</mat-label>
                    <input type="password" matInput [formControl]="confirmPasswordForm"
                           [errorStateMatcher]="confirmErrorMatcher"
                           formControlName="confirmPassword"
                           placeholder="Ex. password">
                    <mat-error *ngIf="confirmPasswordForm.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                    <mat-error
                            *ngIf="passwordForm.errors && passwordForm.errors['passwordMismatch'] && !confirmPasswordForm.hasError('required')">
                        New password and confirmation password must be <strong>same</strong>
                    </mat-error>
                </mat-form-field>
                <br/>
                <button [disabled]="oldPasswordForm.invalid || newPasswordForm.invalid || passwordForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
            </form>
                <svg-icon src="assets/images/password.svg" [svgStyle]="{ 'width.rem':15, 'height.rem': 20}" class=""></svg-icon>
            </div>
        </div>
    </div>
</div>
