.task-update {
  width: 40rem;
  min-width: 10rem;
}

@media screen and (min-width: 576px) {
  .priority-select {
    height: 120%;
  }
}

@media screen and (max-width: 768px) {
  .task-update {
    width: 100%;
  }

  .task-update-form {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
  }

  .task-update-side {
    display: flex;
    width: 100%;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .task-update-help {
    display: flex;
    gap: 0.5rem;
  }
}
