.board {
  font-family: 'Nunito', sans-serif;
}

.board-main {
  min-width: 100%;
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  background-color: #f7f8fb;
}

.profile-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #512DA8;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  line-height: 3rem;
}

.logo {
  width: 10rem;
}

.divider {
  border-right: 2px solid #cbcbcb;
  height: 2rem;
  margin-right: 1.5rem;
}
