<div class="bg-gradient-primary login bg-primary-subtle">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image">
              <img src="assets/login2.jpg" class="card-img mt-lg-5 ms-5 rounded-4">
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="title-text h3 text-gray-900 mb-4">Welcome Back</h1>
                </div>
                <form>
                  <div>
                    <input type="email" class="form-input form-control rounded-4 p-2 ps-4 m-3"
                           id="exampleInputEmail" aria-describedby="emailHelp"
                           placeholder="Enter Email Address">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-input form-control rounded-4 p-2 ps-4 m-3"
                           id="exampleInputPassword" placeholder="Password">
                  </div>
                  <div class="m-3">
                    <div class="small">
                      <input type="checkbox" id="customCheck">
                      <label class="ms-2" for="customCheck">Remember
                        Me</label>
                    </div>
                  </div>
                  <a href="index.html" class="log-btn btn w-100 rounded-4 btn-primary m-3 mb-2">
                    <i class="bi bi-box-arrow-in-right"></i> Login
                  </a>
                  <hr>
                  <a href="index.html" class="log-btn btn w-100 bg-danger text-white rounded-4 m-3 mt-0">
                    <i class="bi bi-google"></i> Login with Google
                  </a>
                </form>
                <div class="text-center">
                  <a class="small link" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small link" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
